<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Host</title>
</head>
<body>
    {{ template "_navbar.html" }}
    {{ template "_scripts.html" }}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="icon_telephone" type="tel" class="validate">
                  <label for="icon_telephone">Telephone</label>
                </div>
              </div>
              <center><a class="btn" >Submit</a></center>
            </form>
          </div>


</body>
</html>