<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    {{ template "_navbar.html" }}
    {{ template "_scripts.html" }}
    <br><br>
    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" >
            <div class="card-content white-text">
              <span class="card-title">Hello</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" >
            <div class="card-content white-text">
              <span class="card-title">Hello</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" >
            <div class="card-content white-text">
              <span class="card-title">Hello</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" >
            <div class="card-content white-text">
              <span class="card-title">Hello</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="/user/showsessions">Go</a>
            </div>
          </div>
        </div>
      </div>
    
    
</body>
</html>